main > div {
    width: 100px;
    height: 100px;
    margin: 10px;   
}


#rouge {
    background-color: red;
    transition: 3s ease-in-out;
}

#bleu {
    background-color: blue;
    transition: 1s ease-in-out;
}

#green {
    opacity: 0;
    background-color: green;
    animation: 6s linear 5s infinite appear;
}



main:hover > #rouge  {
    width: 300px;

}

main:hover > #bleu  {
    width: 200px;
    transition-delay:3s;

}

@keyframes appear {
    0%{opacity: 0;}
    50%{opacity: 100;}
    100%{opacity: 0;}

}